li {
    margin: .8em;
}
.desc {
    font-size:.8em;
    font-style:italic;
    margin:4px;
}
pre {
    border: 1px solid #888;
    border-radius:2px 2px 2px 2px;
    margin:0;
    overflow:scroll;
    padding:10px;
    height:120px;
}
.examplecode a {
    font-size:.8em;
}
.heading:before {
    content:"";
}
.heading {
    font-size:.9em;
    color:#C93213;
    padding:2px;
    margin:4px;
    font-weight:bold;
    cursor:hand;
    border:1px solid;
}
.content {
    margin:4px;
}
